footer {

    left: 0;
    bottom: 0;
    margin-top: min(600px);
    height: 100px;
    width: 100%;
    color: #FFFFFF;
    background: #06303A;
    font-size: 1.5em;
    text-align: center;
    line-height: 100px;

}